@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root{
    --dark: #2D332E;
    --greendark: #314733;
    --limemain: #14E027;
    --limedark: #3C7A42;
    --limebalanced: #32AD3F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    color: white;
    text-wrap: nowrap;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(80deg,
        var(--dark) 0 30%,
        var(--limemain) 30% calc(30% + 5px),
        var(--greendark) calc(30% + 5px) 50%,
        var(--limedark) 50% 100%
        );
    display: flex;
    justify-content: right;
    align-items: center;
    animation: backgroundRollin 1.2s ease-out;
}

main, header, article, nav{
    padding: 10px;
    background-color: rgba(20, 20, 20, 5%);
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 20%);
}

header, article, nav{
    margin: 10px;
}

.box{
    margin-right: 100px;
    height: fit-content;
    width: 40%;
    display: flex;
    flex-direction: row;
}

main{
    width: 100%;
    animation: mainRollin 1s ease-out;
}

header{
    height: fit-content;
    font-size: 4vh;
}

article{
    height: fit-content;
    font-size: 3vh;
}

nav{
    height: fit-content;
    display: flex;
    flex-direction: column;
    animation: navRollin 1s ease-out;
    transition-duration: 1s;
}

nav:hover{
    box-shadow: 4px 4px 4px rgba(20, 20, 20, 20%);
    transform: scale(1.05);
}

a{
    transition-duration: 0.5s;
}

a:hover{
    margin: 20px 0;
}

@keyframes navRollin{
    from{
        position: relative;
        top: -100vh;
    }
    to{
        position: relative;
        top: 0;
    }
}

@keyframes mainRollin{
    from{
        position: relative;
        right: -100vw;
    }
    to{
        position: relative;
        right: 0;
    }
}

@keyframes backgroundRollin{
    from{
        background-size: 1000%;
    }
    to{
        background-size: 100%;
    }
}

@media only screen and (max-width: 900px){
    body{
        display: block;
    }
    .box{
        margin-right: 0;
        width: fit-content;
    }
}